/* Exercicio 1 */
h1::before {
    content: "*"
}

/* Exercicio 2 */
p::after {
    content: 'hr';
}

/* Exercicio 3 */
p::first-letter {
    font-size: 150%;
}

/* Exercicio 4 */
p::first-line {
    color: red;
}

/* Exercicio 5 */
li::marker {
    color: green;
}