/* Exercicios 1 */
div.elemento {
    background-color: red;
}

/* Exercicios 2 */
p a {
    color: blue;
}

/* Exercicios 3 */
div.elemento {
    background-color: rgb(50, 205, 50);
}

/* Exercicios 4 */
ul {
    color: rgba(128, 128, 128, 0.5)
}

/* Exercicios 5 */
div.elemento {
    background-color: hsl(330, 75%, 70%);
}